// Import the theme
@import "node_modules/bulma/bulma";

// Import icons
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Custom styles
g.gauge {
  .gauge-arc {
    fill: none;
    transition: stroke-dashoffset 500ms, stroke 250ms;
  }
}

g.bar {
  .bar-fill {
    transition: height 500ms;
  }
}

.card {
  transition: border-bottom-color 1000ms;
  &.online {
    border-bottom: 4px solid $success;
  }
  &.faulty {
    border-bottom: 4px solid $warning;
  }
  &.offline {
    border-bottom: 4px solid $danger;
  }

  border-radius: 4px;
}

@each $color, $value in $colors {
  #{".fill-#{$color}"} {
    fill: nth($value, 1) !important;
  }
  #{".stroke-#{$color}"} {
    stroke: nth($value, 1) !important;
  }
}
